.el-form {
	width: 91%;
	.text-center {
		text-align: center;
	}
}
.form-box {
	height: 100%;
	width: 91%;
	margin-top: 32px;
	box-shadow: 0px 0px 10px 10px rgb(189 189 189 / 53%);
}
.form-title {
	height: 60px;
}
